# coreFunctions

## UT for coreFunctions.py module

In [19]:
%matplotlib inline

In [20]:
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

In [21]:
import time

### coreFunctions revisited on:

In [22]:
print(time.strftime("%d/%m/%Y"))
print(time.strftime("%H:%M:%S"))

17/10/2016
18:05:35

### pep8 & pyflakes

In [9]:
!pep8 ../../Core/coreFunctions.py

In [10]:
!pyflakes ../../Core/coreFunctions.py

In [12]:
# %load ../../Core/coreFunctions.py
"""
Core functions
"""

import numpy as np
import pandas as pd


def wait():
    """
    A simple convenience name for raw_input
    """
    raw_input("Press a key...")


def dict_map(F, D):
    '''
    Apply map to dictionary values without losing correspondence.
    '''
    return {key: F(val) for key, val in D.iteritems()}


def df_map(F, DF, field):
    '''
    Apply map to some DataFrame field.
    '''
    out = pd.DataFrame(DF)
    out[field] = map(F, out[field])
    return out


def dict_filter(C, D):
    '''
    Apply filter to dictionary values without losing correspondence.
    '''
    return {key: val for key, val in D.iteritems() if C(val)}


def farray_from_string(sfl):
    """
    returns a np array of floats from a string (sfl)
    representing the array in which the numbers are separated by blanks
    e.g, '1.4 3.6 6.7' -->np.array(1.4,3.6,6.7)
    """
    sarr = sfl.split(' ')
    arr = []
    for x in sarr:
        arr.append(float(x))
    return np.array(arr)


def rebin_array(a, stride):
    """
    rebins the array according to stride
    """
    lenb = len(a)/int(stride)
    b = np.zeros(lenb)
    j = 0
    for i in range(lenb):
        b[i] = np.sum(a[j:j+stride])
        j += stride
    return b


def drange(start, stop, step):
    """
    a range of doubles
    """
    r = start
    while r < stop:
        yield r
        r += step

In [42]:
d = dict(zip(np.arange(0., 10., 1.0), np.arange(0., 10., 1.0)))

In [43]:
d

{0.0: 0.0,
 1.0: 1.0,
 2.0: 2.0,
 3.0: 3.0,
 4.0: 4.0,
 5.0: 5.0,
 6.0: 6.0,
 7.0: 7.0,
 8.0: 8.0,
 9.0: 9.0}

In [30]:
dict_map(lambda x: x**2, d)

{0.0: 0.0,
 1.0: 1.0,
 2.0: 4.0,
 3.0: 9.0,
 4.0: 16.0,
 5.0: 25.0,
 6.0: 36.0,
 7.0: 49.0,
 8.0: 64.0,
 9.0: 81.0}

In [33]:
df = pd.DataFrame({'x':np.arange(0., 10., 1.0),'y':np.arange(0., 10., 1.0)})

In [34]:
df

     x    y
0  0.0  0.0
1  1.0  1.0
2  2.0  2.0
3  3.0  3.0
4  4.0  4.0
5  5.0  5.0
6  6.0  6.0
7  7.0  7.0
8  8.0  8.0
9  9.0  9.0

In [36]:
df_map(lambda x: x**2, df, 'y')

     x     y
0  0.0   0.0
1  1.0   1.0
2  2.0   4.0
3  3.0   9.0
4  4.0  16.0
5  5.0  25.0
6  6.0  36.0
7  7.0  49.0
8  8.0  64.0
9  9.0  81.0

In [37]:
farray_from_string('25.7 7.8 9.5')

array([ 25.7,   7.8,   9.5])

### todo: complete testing remaining functions